
<div class="container my-5 carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <% carouselItems.forEach((item, index) => { %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-current="<%= index === 0 ? 'true' : 'false' %>" aria-label="Slide <%= index + 1 %>"></button>
            <% }) %>
        </div>
        <div class="carousel-inner">
            <% carouselItems.forEach((item, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <picture>
                        <source media="(max-width: 768px)" srcset="<%= item.imagePortrait %>">
                        <source media="(min-width: 769px)" srcset="<%= item.image %>">
                        <img src="<%= item.image %>" class="d-block w-100" alt="<%= item.alt %>">
                    </picture>
                    <div class="carousel-caption d-none d-md-block">
                        <h5><%= item.title %></h5>
                        <p><%= item.description %></p>
                    </div>
                </div>
            <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <!-- Sol Kısım: Afiş -->
        <div class="col-md-6">
            <img id="event-poster" src="<%= events[0].poster %>" alt="Etkinlik Afişi" class="img-fluid">
        </div>

        <!-- Sağ Kısım: Oyun Bilgisi ve Yaklaşan Etkinlikler Listesi -->
        <div class="col-md-6">
            <div id="event-info">
                <h2 id="event-name"><%= events[0].name %></h2>
                <p id="event-description"><%= events[0].description %></p>
            </div>
            <h2>Yaklaşan Etkinlikler</h2>
            <div class="list-group" id="event-list">
                <% events.forEach(event => { %>
                    <a href="#" class="list-group-item list-group-item-action" data-id="<%= event.id %>">
                        <%= event.name %> - <%= event.date %>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>

    <!-- Alt Kısım: Akordiyon Stilinde Etkinlik Takvimi -->
    <div class="accordion mt-5" id="event-schedule">
        <% events.forEach(event => { %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= event.id %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= event.id %>" aria-expanded="true" aria-controls="collapse<%= event.id %>">
                        <%= event.name %> - <%= event.date %>
                    </button>
                </h2>
                <div id="collapse<%= event.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= event.id %>" data-bs-parent="#event-schedule">
                    <div class="accordion-body">
                        <%= event.details %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="/js/events.js"></script>


